<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.proj.zhaohuo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light">
        <activity android:name=".startActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".registerActivity" />
        <activity android:name=".teamActivity" />
        <activity android:name=".protocolActivity" />
        <activity
            android:name=".UserActivity"
            android:label="个人信息" />
        <activity android:name=".userInfoActivity" />
        <activity android:name=".communityInfoActivity" />
        <activity
            android:name=".circlelistActivity"
            android:label="圈子" />
        <activity android:name=".circleDiscussionZone" />
        <activity android:name=".shakeActivity" />
        <activity
            android:name=".ActivitySquare"
            android:label="活动广场" />
        <activity android:name=".Main2Activity"></activity>
        <activity android:name=".loginActivity"></activity>
        <activity
            android:name=".actDetailActivity"
            android:label="活动详情"
            android:theme="@style/Theme.AppCompat.Light"></activity>
        <activity android:name=".commentActivity" />
        <activity android:name=".PostMsgActivity" />
        <activity android:name=".postDetailActivity" />
        <activity
            android:name=".MyFollow"
            android:label="我的收藏"></activity>
        <receiver
            android:name=".BrodcastRec"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.project.brodcastRec" />
            </intent-filter>
        </receiver>

    </application>

</manifest>